body {
  padding: 20px;
}

#github-issue-toc {
  margin-top: 20px;
  background-color: #fff;
  position: relative;
  position: sticky;
  top: 70px;
  height: calc(100vh - 90px);
  overflow: hidden;
}

#github-issue-toc {
  box-sizing: border-box;
}

#github-issue-toc-header {
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
  border-bottom: none;
  border-radius: 3px 3px 0px 0px;
  height: 30px;
}

#github-issue-toc-header a {
  display: block;
  padding: 5px;
}

#github-issue-toc-header .octicon-gear {
  margin-left: 15px;
  cursor: pointer;
}

#github-issue-toc-settings-menu {
  position: absolute;
  top: 25px;
  right: 5px;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  background: #fff;
  z-index: 500;
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.2);
}

#github-issue-toc-settings-menu .toc-menu-item {
  padding: 2px 5px;
  cursor: pointer;
  border-bottom: 1px solid #d1d5da;
}

#github-issue-toc-settings-menu .toc-menu-item:hover {
  background-color: #f6f8fa;
}

#github-issue-toc-settings-menu .toc-menu-item .octicon-check {
  margin-right: 5px;
}

#github-issue-toc-settings-menu .toc-menu-item:last-child {
  border-bottom: none;
}

#github-issue-toc a {
  color: #24292e;
}

#github-issue-toc-body {
  max-height: calc(100% - 31px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#github-issue-toc-body #toc-answers {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#github-issue-toc-body a {
  padding: 5px 8px 5px 5px;
  color: #586069;
  font-weight: 600;
  font-size: 14px !important;
  display: block;
}

#github-issue-toc-body {
  border: 1px solid #d1d5da;
  border-radius: 0px 0px 3px 3px;
  list-style: none;
}

#github-issue-toc-body a {
  display: flex;
  align-items: center;
}

#github-issue-toc-body a:hover {
  text-decoration: none;
  background-color: #f6f8fa;
}

#github-issue-toc-body li {
  border-bottom: 1px solid #d1d5da;
}

#github-issue-toc-body li:last-child {
  border-bottom: none;
}

#github-issue-toc-body li img {
  flex-shrink: 0;
  margin-right: 10px;
}

#github-issue-toc-body .toc-role,
#github-issue-toc-body .toc-author {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}

#github-issue-toc-body .toc-role {
  border: 1px solid #586069;
  border-radius: 2px;
  padding: 1px 2px;
  font-weight: 400;
}

#github-issue-toc-body .toc-divider {
  flex: 1;
}
